html {box-sizing: border-box}
*,*::before,*::after{box-sizing: inherit}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.gallows {
    width: 800px;
    margin: auto;
    
}

#newGame {
    width: 150px;
    height: 30px;
    background-color: darkgreen;
    color: antiquewhite;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    margin: 0 325px;
}

.result {
    height: 50px;
    font-size: 40px;
    color: blueviolet;
    font-weight: bolder;
    text-align: center;
}

.score {
    font-size: 30px;
    margin:  0 100px 10px;;
}

.noose {
    width: 500px;
    height: 500px;
    background-color: white;
    position: relative;
    z-index: 0;
} 

#head {
    position: absolute;
    width: 100px;
    height: 100px;;
    background-color: bisque;
    border-radius: 50%;
    top: 0;
    left: 350px;
    z-index: 1;
}

.eyes {
    position: absolute;
    width: 15px;
    height: 15px;;
    background-color: darkcyan;
    border-radius: 50%;
    z-index: 2;
    transition-duration: 1s;
}

#eyes1 {
    top: 25px;
    left: 375px;
}

#eyes2 {
    top: 25px;
    left: 415px;
}

.torso {
    position: absolute;
    width: 150px;
    height: 250px;;
    background-color: lightslategray;
    border-radius: 20%;
    top: 100px;
    left: 325px;
    z-index: 1;
    transition-duration: 1s;
}

.arms {
    position: absolute;
    width: 150px;
    height: 30px;;
    background-color: lightslategray;
    border-radius: 20%;
    z-index: 1;
    transition-duration: 1s;
}

#arms1 {
    top: 150px;
    left: 175px;
}

#arms2 {
    top: 150px;
    left: 475px;
}

.legs {
    position: absolute;
    width: 30px;
    height: 100px;;
    background-color: lightslategray;
    border-radius: 20%;
    z-index: 1;
    transition-duration: 1s;
}

#legs1 {
    top: 350px;
    left: 360px;
}

#legs2 {
    top: 350px;
    left: 420px;
}

.hide {
    background-color: white;
}

/* .corral {
    width: 500px;
    height: 100px;
    background-color: olivedrab;
    border: double 10px brown;
    padding: 10px;
} */

.word {
    font-size: 80px;
    text-align: center;
    margin: auto auto 10px;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.alpha {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: darkgreen;
    color: antiquewhite;
    outline: none;
    font-size: 30px;
}

.alpha:disabled {
    background-color: grey;
}
